{{#each people}}
    <div class="peoples">
        <img src='{{this.url}}' />
        <div>
            <p><b>{{this.name}}</b></p>
            <p>{{this.about}}</p>
        </div>
    </div>
{{/each}}
