*{
  margin:0px;
  padding:0px;
}

body {
  background-color: light-grey;
  font-family: "Segoe UI",sans-serif;
}

h1 {
  text-align: left;
  margin-bottom: 35px;
}

input[type=text] {
  height: 40px;
  font-size: 20px;
  width: 300px;
  float: left;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  width: 75px;
  height: 45px;
  background-color: lightgrey;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 20px;
  height: 75px;
  width: 500px;
  margin:auto;
}


.profileImg {
  float:left;
  padding: 0px 20px 0px 0px;
}

.deleteBtn {
  background-color: red;
  color: white;
  border-radius: 7px;
  width: 75px;
  height: 35px;
  border-style: none;
  float:right;
  margin-top: 20px;
}

#dropdown {
  display: none;
  margin:auto;
  text-align: center;
}

#dropdown input {
  float:none;
  text-align: center;

}

#artistinput {
  margin:auto;
  width:200px;
}

#btnaddartist, #btnsearch {
  margin-right: 10px;
  float:right;
}

#btnsearch {
  margin-right: 0px;
}

#topbox {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  width: 500px;
  height: 125px;
  padding: 20px;
  margin: auto;
}
